<h1 mat-dialog-title class="titte">Pagamento com Dinheiro</h1>
<hr />
<div mat-dialog-content class="container">
  <div class="painel-valor">
    <mat-form-field appearance="fill">
      <mat-label>Valor a Pagar</mat-label>
      <input matInput [value]="Total" disabled />
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Dinheiro</mat-label>
      <input
        matInput type="text"
        [(ngModel)]="Pagar"
        [ngModelOptions]="{standalone: true }"
      />
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>troco</mat-label>
      <input
        matInput
        [value]="(Pagar - Total > 0 ? Pagar - Total : 0).toFixed(2)"
      />
      <span matPrefix>R$&nbsp;</span>
    </mat-form-field>
  </div>
</div>
<hr />
<div mat-dialog-actions class="footer">
  <button mat-raised-button (click)="onNoClick()">cancela</button>
  <button
    mat-raised-button
    [mat-dialog-close]="{
      fPagto: 'DINHEIRO',
      valor: Pagar > Total ? Total : Pagar
    }"
    cdkFocusInitial
  >
    Confirma
  </button>
</div>
