.container {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .painel-valor {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    input {
      height: 20px;
    }
  }
  .painel {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    fieldset {
      button {
        height: 40px;
        width: 180px;
      }
      select,
      input {
        height: 30px;
        width: 350px;
      }
    }

  }
}
