.Tabela {
  table {
    width: 100%;
    height: 10vh;

    th {
      border: 1px solid black;

    }

  
    td {
      border: 1px solid black;

    }
    td.direita {
      text-align: right;
      padding: 5px;


    }
    td.esquerda{
      text-align: left;
      padding: 5px;

    }
    td.centro{
      text-align: center;
      padding: 5px;
    }
  }
}

.FontePequena {
  font-size: 14px;
}

.inputObs{
  width: 100%;
  height: 3vh;
  border: 1px solid black;
}

.inputData{
  width: 30%;
  height: 4vh;
  border: 1px solid black;
}
.inputConta{
  width: 50%;
  height: 4vh;
  border: 1px solid black;
}

.vermelho{
  color: red;
}
.blue{
  color: blue;
}
