<div class="container" (focus)="inputReturn()">
  <header class="header column" (focus)="inputReturn()">
    <div>
      <span>Venda:</span
      ><input
        type="text"
        id="inputVenda"
        [(ngModel)]="venda.LCTO"
        (keydown.enter)="getVenda(cliente.CODIGO)"
        [disabled]="venda.PAGAMENTO.length || !empresa"
      />
    </div>
    <div>
      <span>Vendedor:</span
      ><input
        type="text"
        id="inputVend"
        [(ngModel)]="vendedor.CODIGO"
        (keydown.enter)="getVendedor(vendedor.CODIGO)"
        (focus)="clicaVendedor()"
        [disabled]="venda.PAGAMENTO.length || !empresa"
      /><span>{{ vendedor.NOME }}</span>
    </div>
    <div>
      <span>Cliente:</span
      ><input
        type="text"
        id="inputCli"
        (focus)="clicaCliente()"
        [(ngModel)]="cliente.CODIGO"
        (keydown.enter)="getCliente(cliente.CODIGO)"
        [disabled]="venda.PAGAMENTO.length || !empresa"
      /><span>{{ cliente.RAZAO }}</span>
    </div>
    <div>07/08/2019 10:40:38</div>
  </header>
  <main class="content column" (focus)="inputReturn()">
    <div class="multQtd">
      <div>
        <label for="codbar">QTD</label>
        <input
          type="text"
          name="multqtd"
          [disabled]="venda.PAGAMENTO.length || !empresa"
          (keydown.enter)="inputReturn()"
          [(ngModel)]="input.qtd"
          id="multqtd"
          placeholder="qtd"
        />
      </div>
    </div>
    <span>X</span>
    <div class="barReader">
      <div>
        <label for="codbar">CODBAR</label>
        <input
          autofocus
          type="text"
          name="codbar"
          [(ngModel)]="input.codbar"
          #codbar
          id="codbar"
          (keydown.enter)="getProduto(input.codbar, input.qtd)"
          [disabled]="venda.PAGAMENTO.length || !empresa"
        />
      </div>
    </div>
    <div class="description">
      <div>
        <label for="descricao">DESCRIÇÃO</label>
        <input
          type="text"
          name="descricao"
          disabled
          placeholder="{{ selectedFunction.text }}"
          [value]="ultimoProduto.DESCRICAO"
        />
      </div>
    </div>
    <div class="ticket ">
      <table class="table">
        <thead>
          <tr>
            <td colspan="14" class="center">
              DOCUMENTO NÃO FISCAL
            </td>
          </tr>
          <tr>
            <td colspan="14" class="center">
              <hr />
            </td>
          </tr>
          <tr>
            <td class="number">Item</td>
            <td class="text">Cód</td>
            <td class="text" colspan="8" width="49%">Descrição</td>
            <td class="number">Qtd</td>
            <td class="text">Un</td>
            <td class="number">VlrUnit(R$)</td>
            <td class="number">VlrTot(R$)</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of venda.PRODUTOS; let i = index">
            <td class="number">{{ i + 1 }}</td>
            <td class="text">{{ item.CODPRO }}</td>
            <td class="text" colspan="8">{{ item.DESCRICAO }}</td>
            <td class="number">{{ item.QTDFISCAL }}</td>
            <td class="text">{{ item.UNIDADE }}</td>
            <td class="number">{{ item.VALOR }}</td>
            <td class="number">
              {{ item.VALOR * item.QTDFISCAL | currency: " " }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="cartao.length || boleto.length">
          <tr>
            <td colspan="14"><hr /></td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4">TOTAL:</td>
            <td colspan="4"></td>
            <td colspan="5" class="number">{{ venda.TOTAL.valor }}</td>
          </tr>
          <tr>
            <td colspan="14"><hr /></td>
          </tr>
          <tr>
            <td colspan="9"></td>
            <td class="text" colspan="3">Pagamento</td>
            <td class="number"></td>
            <td class="number">VlrTot(R$)</td>
          </tr>
          <tr *ngFor="let item of cartao; let i = index">
            <td colspan="9"></td>
            <td class="text" colspan="3">
              {{ item.PARCELAS === 0 ? "DEBITO" : "CREDITO" }}
              {{ item.BANDEIRA }}
            </td>
            <td class="number">{{ item.PARCELAS ? item.PARCELAS : 1 }}x</td>
            <td class="number">
              {{
                item.PARCELAS === 0
                  ? (item.VALOR * 1).toFixed(2)
                  : (item.VALOR / item.PARCELAS).toFixed(2)
              }}
            </td>
          </tr>
          <tr *ngFor="let item of boleto; let i = index">
            <td colspan="9"></td>
            <td class="text" colspan="3">
              {{ item.BANDEIRA }}-{{ item.VENCIMENTOS }}
            </td>
            <td class="number">{{ item.PARCELAS }}x</td>
            <td class="number">
              {{ (item.VALOR / item.PARCELAS).toFixed(2) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="item">
      <div>
        <label for="vlunit">VALOR UNITÁRIO:</label>
        <input
          type="text"
          disabled
          name="vlunit"
          [value]="ultimoProduto.VALOR"
          id="vlunit"
        />
      </div>

      <div>
        <label for="qtd">QUANTIDADE:</label>
        <input
          type="text"
          disabled
          name="qtd"
          [value]="ultimoProduto.QTD + ' ' + ultimoProduto.UNIDADE"
          id="qtd"
        />
      </div>

      <div>
        <label for="subtotal">SUBTOTAL:</label>
        <input
          type="text"
          disabled
          name="subtotal"
          [value]="ultimoProduto.VALOR * ultimoProduto.QTD"
          id="qtd"
        />
      </div>

      <div>
        <label for="total">TOTAL VENDA:</label>
        <input
          type="text"
          disabled
          name="total"
          [value]="venda.TOTALPRODUTOS"
          id="qtd"
        />
      </div>
      <div>
        <label for="restante">RESTANTE À PAGAR:</label>
        <input
          type="text"
          disabled
          name="restante"
          [value]="venda.PAGAR.valor"
          id="qtd"
        />
      </div>
    </div>
  </main>
  <aside class="sidebar column">
    <button
      *ngIf="empresa"
      [disabled]="
        (venda.PAGAR.valor > 0 && venda.LCTO) ||
        (!venda.PRODUTOS.length && venda.LCTO)
      "
      mat-raised-button
      color="accent"
      (click)="gerarNfe()"
      class=""
    >
      NFE
    </button>
    <button
      *ngIf="venda.LCTO && empresa"
      [disabled]="venda.PAGAR.valor > 0 || !venda.PRODUTOS.length"
      mat-raised-button
      color="accent"
      (click)="clicaCupom()"
      class=""
    >
      CUPOM
    </button>
    <button
      *ngIf="venda.LCTO && empresa"
      [disabled]="venda.PAGAR.valor > 0 || !venda.PRODUTOS.length"
      mat-raised-button
      color="accent"
      (click)="confirmaVenda()"
      class=""
    >
      CONFIRMA
    </button>
    <button
      *ngIf="venda.LCTO && empresa"
      [disabled]="!venda.PAGAMENTO.length"
      mat-raised-button
      color="warn"
      (click)="cancelaPagto()"
      class=""
    >
      CANCELA PAGTO
    </button>
    <button
      *ngIf="venda.LCTO && empresa"
      [disabled]="!venda.PAGAR.valor"
      mat-raised-button
      (click)="inserePagtoCartao('cartão')"
      class=""
    >
      CARTÃO <span *ngIf="ctrlPress">(F2) </span>
    </button>
    <button
      *ngIf="venda.LCTO && empresa"
      [disabled]="!venda.PAGAR.valor"
      mat-raised-button
      (click)="inserePagtoDi('dinheiro')"
      class=""
    >
      DINHEIRO <span *ngIf="ctrlPress">(F3) </span>
    </button>
    <button
      *ngIf="venda.LCTO && empresa"
      [disabled]="!venda.PAGAR.valor && venda.LIBERAFAT"
      mat-raised-button
      (click)="inserePagtoBoleto('boleto')"
      class=""
    >
      BOLETO <span *ngIf="ctrlPress">(F4) </span>
    </button>
    <button
      *ngIf="venda.LCTO && empresa && saldoVale"
      [disabled]="!venda.PAGAR.valor"
      mat-raised-button
      (click)="inserePagtoDi('dinheiro')"
      class=""
    >
      VALE <span *ngIf="ctrlPress">(F3) </span>
    </button>
    <button
      *ngIf="venda.LCTO && empresa && venda.LIBERANP"
      [disabled]="!venda.PAGAR.valor"
      mat-raised-button
      (click)="inserePagtoNP('NP')"
      class=""
    >
      NP <span *ngIf="ctrlPress">(F3) </span>
    </button>
  </aside>
  <footer class="footer column">
    <div class="column">
      <span>F2 - Nova venda</span>
      <span>F3 - Produto</span>
      <span>F4 - Cliente</span>
      <span>F5 - Vendedor</span>
      <span>F6 - Vendas</span>
      <span>F7 - Reservas</span>
    </div>
    <mat-form-field name="Empresa" appearance="fill">
      <mat-label>Empresa</mat-label>
      <mat-select
        [(ngModel)]="empresa"
        (selectionChange)="inputReturn()"
        (blur)="inputReturn()"
        (change)="inputReturn()"
        [disabled]="venda.LCTO"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-option *ngFor="let item of listaEmpresas" [value]="item.CODIGO">{{
          item.NOMESYS
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </footer>
</div>
