table {
  width: 100%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  div {
    display: flex;
    // flex-wrap: wrap;
    justify-content: space-between;
  }
}

mat-dialog-content {

  height: 90vh;
}
mat-tab-group {
  height: 90vh;
}
