<!-- <h1 mat-dialog-title>buscar {{ titulo }}</h1> -->
<div mat-dialog-content>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Venda</mat-label>
      <input
        matInput
        [(ngModel)]="novaNota"
        (keydown.enter)="carregaVenda(novaNota)"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Natureza Operação</mat-label>
      <mat-select
        [(ngModel)]="operacao"
        [disabled]="!novaNota"
        [ngModelOptions]="{ standalone: true }"
      >
        <mat-option value=1>Venda de Mercadoria</mat-option>
        <mat-option value=2>Venda de Ativo</mat-option>
        <mat-option value=3>Devolução de Mercadoria</mat-option>
        <mat-option value=4>Remessa Para Conserto</mat-option>
        <mat-option value=5>Remessa de Amostra Grátis</mat-option>
        <mat-option value=6>Retorno de Bem em Comodato</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="geraNota()" [disabled]="!novaNota || !operacao">
      Gerar Nota
    </button>
    <button mat-button (click)="enviaNota()" [disabled]="!novaNota || !operacao">
      Envia Nota
    </button>
  </div>
  <mat-tab-group [selectedIndex]="tabSelect">
    <mat-tab label="Venda" *ngIf="venda.LCTO">
      <div>
        <form name="cabecalhoForm">
          <fieldset>
            <legend>Destinatário</legend>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Codigo</mat-label>
                <input matInput name="codcli" [value]="venda.CODCLI" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Razão Social</mat-label>
                <input matInput name="nome" [value]="venda.RAZAO" />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>CNPJ / CPF</mat-label>
                <input matInput name="cgc" type="text" [value]="venda.CGC" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>I. E.</mat-label>
                <input
                  matInput
                  name="inscest"
                  type="text"
                  [value]="venda.INSC"
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>e-mail</mat-label>
                <input
                  matInput
                  name="inscest"
                  type="email"
                  [value]="venda.EMAIL"
                />
              </mat-form-field>
            </div>
          </fieldset>
          <md-table-container style="overflow: auto;">
            <table md-table>
              <thead fix-head md-head>
                <tr md-row>
                  <th md-column>
                    <span>Codigo</span>
                  </th>
                  <th md-column>
                    <span>Descricao</span>
                  </th>
                  <th md-column>
                    <span>Qtd</span>
                  </th>
                  <th md-column>
                    <span>V. Unit</span>
                  </th>
                  <th md-column>
                    <span>V. Unit</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of venda.PRODUTOS; let i = index">
                  <td md-cell>{{ item.CODPRO }}</td>
                  <td md-cell>{{ item.DESCRICAO }}</td>
                  <td md-cell>{{ item.QTD }} {{ item.UNIDADE }}</td>
                  <td md-cell>{{ item.VALOR }}</td>
                  <td md-cell>{{ item.TOTAL }}</td>
                </tr>
              </tbody>
            </table>
          </md-table-container>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Dados Gerais" *ngIf="venda.LCTO">
      <div>
        <form name="cabecalhoForm">
          <fieldset>
            <legend>Dados Gerais</legend>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Nota Fiscal</mat-label>
                <input matInput type="text" value="" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Data Emissão</mat-label>
                <input
                  matInput
                  [matDatepicker]="picker"
                  [value]="nota.getDataDaEmissao()"
                  placeholder="Data Emissão"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-full-width">
                <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                <mat-label>Nat. Operação</mat-label>
                <input
                  matInput
                  name="natoper"
                  [value]="nota.getNaturezaDaOperacao()"
                  type="text"
                />
              </mat-form-field>
            </div>
          </fieldset>

          <fieldset>
            <legend>Destinatário</legend>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Código</mat-label>
                <input
                  matInput
                  name="codcli"
                  [value]="nota.getDestinatario().getCodigo()"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Razão Social</mat-label>
                <input
                  matInput
                  name="nome"
                  [value]="nota.getDestinatario().getNome()"
                  type="text"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Telefone</mat-label>
                <input
                  matInput
                  name="fone"
                  [value]="nota.getDestinatario().getTelefone()"
                  type="text"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>CNPJ / CPF</mat-label>
                <input
                  matInput
                  name="cgc"
                  type="text"
                  [value]="nota.getDestinatario().getRegistroNacional()"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>I. E.</mat-label>
                <input
                  matInput
                  name="inscest"
                  type="text"
                  [value]="nota.getDestinatario().getInscricaoEstadual()"
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Contribuinte</mat-label>
                <mat-select [value]="nota.getDestinatario().getIdenfificaContribuinteIcms()">
                  <mat-option value="C">Contribuinte</mat-option>
                  <mat-option value="I">Isento</mat-option>
                  <mat-option value="N">Não Contrib.</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>e-mail</mat-label>
                <input
                  matInput
                  name="inscest"
                  type="email"
                  [value]="nota.getDestinatario().getEmail()"
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>CEP</mat-label>
                <input
                  matInput
                  md-no-asterisk
                  name="cep"
                  [value]="
                    nota
                      .getDestinatario()
                      .getEndereco()
                      .getCep()
                  "
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Endereço</mat-label>
                <input
                  matInput
                  name="endereco"
                  [value]="
                    nota
                      .getDestinatario()
                      .getEndereco()
                      .getLogradouro()
                  "
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Número</mat-label>
                <input
                  matInput
                  name="numero"
                  [value]="
                    nota
                      .getDestinatario()
                      .getEndereco()
                      .getNumero()
                  "
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Bairro</mat-label>
                <input
                  matInput
                  name="bairro"
                  [value]="
                    nota
                      .getDestinatario()
                      .getEndereco()
                      .getBairro()
                  "
                />
              </mat-form-field>
            </div>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Complemento</mat-label>
                <input
                  matInput
                  name="complemento"
                  [value]="
                    nota
                      .getDestinatario()
                      .getEndereco()
                      .getComplemento()
                  "
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Cidade</mat-label>
                <input
                  matInput
                  name="cidade"
                  [value]="
                    nota
                      .getDestinatario()
                      .getEndereco()
                      .getMunicipio()
                  "
                />
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <input
                  matInput
                  name="estado"
                  [value]="
                    nota
                      .getDestinatario()
                      .getEndereco()
                      .getUf()
                  "
                />
              </mat-form-field>
            </div>
          </fieldset>
        </form>
      </div>
    </mat-tab>

    <mat-tab label="Produtos" *ngIf="venda.LCTO">
      <form>
        <table md-table>
          <thead fix-head md-head>
            <tr md-row>
              <th md-column>
                <span>Codigo</span>
              </th>
              <th md-column>
                <span>Descricao</span>
              </th>
              <th md-column>
                <span>Ncm/Sh</span>
              </th>
              <th md-column>
                <span>CST/CSOSN</span>
              </th>
              <th md-column>
                <span>CFOP</span>
              </th>
              <th md-column>
                <span>Qtd</span>
              </th>
              <th md-column>
                <span>Un</span>
              </th>
              <th md-column>
                <span>V. Unit</span>
              </th>
              <th md-column>
                <span>V. Unit</span>
              </th>
              <th md-column>
                <span>V ICMS</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of nota.getItens(); let i = index">
              <td md-column>{{ item.getCodigo() }}</td>
              <td md-column>{{ item.getDescricao() }}</td>
              <td md-column>{{ item.getNcmSh() }}</td>
              <td md-column>{{ item.getIcms().getSituacaoTributaria() }}</td>
              <td md-column>{{ item.getIcms().getCfop() }}</td>
              <td md-column>{{ item.getQuantidade() }}</td>
              <td md-column>{{ item.getUnidade() }}</td>
              <td md-column>{{ item.getValorUnitario() | currency }}</td>
              <td md-column>{{ item.getValorTotal() | currency }}</td>
              <td md-column>{{ item.getIcms().getValorDoIcms() }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </mat-tab>

    <mat-tab label="Pagamento" *ngIf="venda.LCTO">
      <form>
        <table md-table>
          <thead md-head>
            <tr md-row>
              <th md-column>
                <span>Forma Pagto</span>
              </th>
              <th md-column>
                <span>Meio Pagto</span>
              </th>
              <th md-column>
                Vencimento
              </th>
              <th md-column>
                <span>Valor</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of nota._pagamentos; let i = index">
              <td md-cell>{{ item.getFormaDePagamento() }}</td>
              <td md-cell>
                {{ item.getMeioDePagamento() }} {{ item.getBandeiraDoCartao() }}
              </td>
              <td md-cell>{{ item.getVencimento() | date: "dd/MM/yyyy" }}</td>
              <td md-cell>{{ item.getValor() | currency }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </mat-tab>

    <mat-tab label="Observações" *ngIf="venda.LCTO">
      <form name="cabecalhoForm">
        <fieldset>
          <legend>Transporte</legend>
          <div layout-gt-xs="row">
            <mat-form-field appearance="outline">
              <mat-label>Tipo</mat-label>
              <input
                matInput
                disabled
                name="modfrete"
                [value]="nota.getModalidadeDoFreteFormatada()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Transpostador</mat-label>
              <input
                matInput
                disabled
                name="transportador"
                [value]="nota.getTransportador().getNome()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Valor</mat-label>
              <input
                matInput
                disabled
                name="vlfrete"
                [value]="nota.getValorDoFrete()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Volumes</mat-label>
              <input
                matInput
                disabled
                name="volumes"
                [value]="nota.getVolumes().getQuantidade()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Espécie</mat-label>
              <input
                matInput
                disabled
                name="especie"
                [value]="nota.getVolumes().getEspecie()"
              />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Peso Bruto</mat-label>
              <input
                matInput
                disabled
                name="pesob"
                [value]="nota.getVolumes().getPesoBruto()"
              />
            </mat-form-field>
          </div>
        </fieldset>
        <fieldset>
          <legend>NFe Referência</legend>
          <div layout-gt-xs="row">
            <mat-form-field appearance="outline">
              <mat-label>Numero</mat-label>
              <input matInput name="especie" value="xxxx" />
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Chave</mat-label>
              <input matInput name="Num" value="xxxx" />
            </mat-form-field>

            <button
              mat-button
              aria-label="Adicionar"
              class="md-warn md-raised "
              click=""
            >
              Adicionar
            </button>
          </div>
          <div layout-gt-xs="row">
            <!-- <mat-form-field appearance="outline">
                <mat-label>Notas Referência</mat-label>
                <textarea [value]="x.refNFe" rows="1" ng-repeat=nota._NfRef></textarea>
              </mat-form-field> -->
          </div>
        </fieldset>
        <fieldset>
          <legend>Informações Adicionais</legend>
          <div layout-gt-xs="row">
            <mat-form-field appearance="outline">
              <textarea  #ta (blur)="nota.getInformacoesComplementares(ta.value)"
                matInput
                [value]="nota.getInformacoesComplementares()"
                rows="4"
              ></textarea>
            </mat-form-field>
          </div>
        </fieldset>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">cancela</button>
  <!-- <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button> -->
</div>
