<div class="container">
  <header class="header column">
    <button (click)="openDialog()"> teste</button>
    <input type="number" [(ngModel)]="busca" placeholder="código"
      (keydown.enter)="getClientes(busca.codigo,busca.razao)">

  </header>
  <aside class="sidebar column">
    sidebar
  </aside>
  <main class="content column">

 <!-- select filtro tabela -->
    <mat-form-field>
      <mat-label>Favorite food</mat-label>
      <mat-select [formControl]="toppings" multiple (selectionChange)="applyFilter($event.value)">
        <mat-option *ngFor="let food of foods" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class='table-container mat-elevation-z8'>

      <table mat-table matSort multiTemplateDataRows [dataSource]="dataSource">
        <!--  datasource é a matriz de dados -->
        <!--  matSort caso haja ordenação -->


        <!-- Definição das colunas -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          <td mat-footer-cell *matFooterCellDef>Total </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div class="example-element-position"> {{element.position}} </div>
                <div class="example-element-symbol"> {{element.symbol}} </div>
                <div class="example-element-name"> {{element.name}} </div>
                <div class="example-element-weight"> {{element.weight}} </div>
              </div>
              <div class="example-element-description">
                {{element.description}}
                <span class="example-element-description-attribution"> -- Wikipedia </span>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Header / sticky true para travar -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <!-- Body -->
        <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
        <!-- Footer / sticky true para travar -->
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>

        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

      </table>

    </div>



  </main>
  <aside class="sidebar column">
    sidebar
  </aside>
  <footer class="footer column">
    footer
  </footer>
</div>
